header{
	background-color: #fee9e1;
	color: #7678ed;
	border-radius:0 0 10px 10px;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	border-bottom: 4px solid #b79ced;
}
header h1{
	font-family: 'Permanent Marker', cursive;
	text-transform: uppercase;

}
header p{
	color: #7161ef;
	text-transform: capitalize;
}
main{
	background-color: #eee;
	padding: 10px;
	
}
footer{
	background-color: #eee;
	border-radius:10px 10px 0 0 ;
	border-top: 4px ridge #dec0f1;
	padding: 10px;
	text-align: center;
}
textarea{
	resize: none;
	border-radius: 25px;
	background: eee;
	padding: 10px;
}
.form-label{
	border: 3px solid #dec0f1;
}
.form-label:hover{
	border: 3px solid #f7b801;
}
.form-label:focus{
	border: 3px solid #a2d2ff;
}

button{
	margin: 10px 10px;
	
}
.btn-primary{
	background-color: #7161ef;
	border: none;	
}
.btn-primary:hover{
	background-color: #f18701;
}
.cajaPrincipal{
	width: 100%;
	
}
.cajaSecundaria{
	width: 100%;

}
.redes{
	margin: 0 10px;
}

@media screen and (min-width: 540px){
body{
	max-width: 980px;
	margin: 0 auto;

}
header{
	padding: 20px;
	font-size: 16px;
}
main{
	padding: 20px;
}
footer{
	padding: 20px;
}
.contenedorPrincipal{
	width: 65%;
	margin-right: 20px ;
}
.contenedorSecundario{
	width: 30%;
}

} 